<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/world.jpeg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>
         <b> <i>Get information about countries via a RESTful API </i></b>
        </h5>

      </div>
    </div>

  </div>
</div>

<br>
<br>

<div class="container">

  <div class="card border-secondary mb-3">
    <img class="card-img-top" src="../../assets/americas2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Americas</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/americas']">View region</button>

    </div>
  </div>

  <div class="card border-secondary mb-3">
    <img class="card-img-top" src="../../assets/europe2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Europe</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/europe']">View region</button>
    </div>
  </div>

  <div class="card border-secondary mb-3">
    <img class="card-img-top" src="../../assets/asia2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Asia</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/asia']">View region</button>
    </div>
  </div>

  <div class="card border-secondary mb-3">
    <img class="card-img-top" src="../../assets/africa2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Africa</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/africa']">View region</button>
    </div>
  </div>

  <div class="card border-secondary mb-3">
    <img class="card-img-top" src="../../assets/oceania2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Oceania</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/oceania']">View region</button>
    </div>
  </div>